<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background: black;
      }
      canvas {
        width: 100%;
        height: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
  </head>
  <body>
    <script src="/RhinoGameFiles/Objects/Player.js"></script>
    <script src="/RhinoGameFiles/Objects/Item.js"></script>
    <script src="/RhinoGameFiles/Objects/Enemy.js"></script>
    <script src="/RhinoGameFiles/Utils/CoroutineSystem.js"></script>
    <script src="/RhinoGameFiles/Utils/PowerSpawner.js"></script>
    <script src="/RhinoGameFiles/Utils/MapLimits.js"></script>
    <script src="/RhinoGameFiles/Scenes/GameScene.js"></script>
    <script src="/RhinoGameFiles/Main.js"></script>
  </body>
</html>
